<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="ru.jenyaiu90.ylingua">
	
	<application
		android:allowBackup="true"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:roundIcon="@drawable/icon"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".view.MainActivity"
			android:configChanges="orientation|screenSize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".view.EditLanguagesActivity"
			android:configChanges="orientation|screenSize"/>
		<activity android:name=".view.DictionaryActivity"
			android:configChanges="orientation|screenSize"/>
		<activity android:name=".view.TrainingActivity"
			android:configChanges="orientation|screenSize"/>
		<activity android:name=".view.OptionsActivity"
			android:configChanges="orientation|screenSize"/>
		<activity android:name=".view.ThemesActivity"
			android:configChanges="orientation|screenSize"/>
	</application>

</manifest>